extends layout/main.pug


include ../blocks/s-content/_s-content.pug 
include ../blocks/s-production/_s-production.pug 
include ../blocks/s-gal-show-room/_s-gal-show-room.pug 
include ../blocks/s-video/_s-video.pug 
include ../blocks/s-product/_s-product.pug 
//- include ../blocks/s-about/_s-about.pug
//- include ../blocks/s-gal/_s-gal.pug
//- include ../blocks/s-logos/_s-logos.pug
//- include ../blocks/s-rews/_s-rews.pug
//- include ../blocks/s-news/_s-news.pug
block variables
	- let  mainPage= null
block title
	- let  title= '109_b'
	title= title

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+pic("109_b.jpg")
	+s-product-109_b
	//- +s-gal-show-room("Примеры использования порталов VEKA SLIDE")
	//- //- +s-history
	//- //- +s-progress 
	//- //- +s-team
	//- +b.s-content.section.block-with-lazy&attributes(attributes)
	//- 	.container.container--xxxl
	//- 		.row.row--lg
	//- 			.col-lg-6
	//- 				h4 Легко
	//- 				br 
	//- 				p.fw-500.text-dark Даже самые массивные створки VEKASLIDE можно с легкостью открыть,  не прикладывая дополнительных усилий.
	//- 				br 
	//- 				p Подъемно- раздвижной механизм позволяет сначала, повернув ручку, приподнять створку на&nbsp;несколько миллиметров вверх, а&nbsp;затем легко и&nbsp;быстро сдвинуть створку в&nbsp;сторону. Инновационная фурнитура с&nbsp;тефлоновым покрытием обеспечивает легкое скольжение даже самых массивных и&nbsp;широких створок. Это под силу даже ребенку! Еще никогда панорамное остекление не&nbsp;было таким элегантным и&nbsp;лёгким&nbsp;&mdash; и, одновременно, таким надёжным и&nbsp;простым.
	//- 				br
	//- 				br
	//- 				.row.row--md
	//- 					.col-auto.icon-block 
	//- 						img(src="img/svg/Bissectrisa_Icon_26.svg", alt="")
	//- 						| легкость

	//- 			.col-lg-6.text-center.order-lg-first
	//- 				+pic("Layer_193.jpg")

	//- +b.s-content.section.block-with-lazy&attributes(attributes)
	//- 	.container
	//- 		+e.inner: +e.inner-wrapper
	//- 			.row.row--lg
	//- 				.col-lg-6
	//- 					.pl-88
	//- 						h4 Тепло
	//- 						br
							
	//- 						h6  Профили VEKASLIDE соответствуют классу&nbsp;А+ по&nbsp;своим теплотехническим  	свойствам. Приведенный коэффициент теплопередачи двери&nbsp;&mdash; 0,8&nbsp;ВТ/м2К
	//- 						br
							
	//- 						h6.text-primary Безбарьерный теплый порог
	//- 						p  Безбарьерный порог с&nbsp;двойным термическим разделением и&nbsp;теплоизолирующим вкладышем гарантирует превосходную теплоизоляцию. Максимальная высота порога соответствует нормам DIN 18025 и&nbsp;не&nbsp;превышает 20&nbsp;мм.
	//- 						h6.text-primary Скрытое уплотнение
	//- 						p Двухконтурное уплотнение по&nbsp;всему периметру створок делает панорамное решение  VEKASLIDE по-настоящему герметичным. Скрытое уплотнение устанавливается по&nbsp;всему периметру створки, исключая  продувания.
	//- 						h6.text-primary Стеклопакет
	//- 						p В&nbsp;порталы VEKA SLIDE возможна установка стеклопакетов толщиной 24-42&nbsp;мм.  В&nbsp;силу того, что панорамные двери используются для остекления больших проемов  и&nbsp;створки конструкции достаточно большие и&nbsp;массивные, в&nbsp;большинстве случаев  рекомендуется установка однокамерных стеклопакетов с&nbsp;толщиной стекол 6&nbsp;мм. В&nbsp;створках более 4,5 кв.м. обязательна установка стеклопакетов с&nbsp;калеными стеклами 6&nbsp;мм.
	//- 						.row.row--md
	//- 							.col-auto.icon-block 
	//- 								img(src="img/svg/Bissectrisa_Icon_29.svg", alt="")
	//- 								| ТЕПЛОИЗОЛЯЦИЯ
	//- 				.col-lg-6
	//- 					.row
	//- 						- for (var x = 1; x < 5; x++)
	//- 							+e.img-wrap.col-6
	//- 								a(href=`img/@2x/content-109-${x}.jpg` data-fancybox="gallery1")
	//- 									+pic(`content-109-${x}.jpg`,"bg",'lazy','440px') 
	

	
	//- +b.s-content.section.block-with-lazy&attributes(attributes)
	//- 	.container.container--xxxl 
	//- 		.row.row--lg
	//- 			.col-lg-6
	//- 				.pr-88
	//- 					h4 Стильно
	//- 					br 
	//- 					h6.text-primary Ламинация на белой основе
	//- 					h6.text-primary  Ламинация на цветной основе
	//- 					h6.text-primary  Покраска RAL
	//- 					br
	//- 					.h6  Панорамные двери VEKASLIDE дарят Вашему дому индивидуальность, шарм, и  неповторимое чувство стиля. Раздвижные двери особенно популярны в  проектировании и&nbsp;строительстве частных домов, владельцы которых не&nbsp;желают  оставаться в&nbsp;рамках стандартных решений. С&nbsp;их&nbsp;помощью можно закрыть проём  шириной до&nbsp;6&nbsp;метров. Широкая программа разнообразных цветов позволяет  подобрать индивидуальные цветовые решения на&nbsp;любой вкус.
	//- 					br
	//- 					.row.row--md
	//- 						.col-auto.icon-block 
	//- 							img(src="img/svg/Bissectrisa_Icon_30.svg", alt="")
	//- 							| Стиль
	//- 			.col-lg-6.order-lg-first
	//- 				.row
	//- 					- for (var x = 1; x < 5; x++)
	//- 						+e.img-wrap.col-6
	//- 							a(href=`img/@2x/content-109-2-${x}.jpg` data-fancybox="gallery1")
	//- 								+pic(`content-109-2-${x}.jpg`,"bg",'lazy','440px') 

	//- +b.s-content.section.block-with-lazy&attributes(attributes)
	//- 	.container
	//- 		+e.inner: +e.inner-wrapper
	//- 			.row.row--lg
	//- 				.col-lg-6
	//- 					.pl-88
	//- 						h4 Безопасно
	//- 						br
							
	//- 						h6  Панорамные двери VEKASLIDE, не&nbsp;смотря на&nbsp;свой &laquo;легкий&raquo; внешний вид,  являются очень крепкими и&nbsp;защищают помещение от&nbsp;несанкционированного  проникновения.
	//- 						br
							
	//- 						h6.text-primary Массивное армирование створок
	//- 						h6.text-primary Специальная качественно установленная фурнитура
	//- 						h6.text-primary Специальные дополнительные профили, препятствующие демонтажу створки
	//- 						br
	//- 						p  Все это обеспечивает такой&nbsp;же высокий уровень безопасности, который необходим для стандартных входных дверей.
	//- 						br
	//- 						.row.row--md
	//- 							.col-auto.icon-block 
	//- 								img(src="img/svg/Bissectrisa_Icon_31.svg", alt="")
	//- 								| взломостойкость
	//- 				.col-lg-6
	//- 					+pic('Layer_197.jpg')
	
	//- +b.s-content.section.block-with-lazy&attributes(attributes)
	//- 	.container.container--xxxl 
	//- 		.row.row--lg
	//- 			.col-lg-6
	//- 				.pr-88 
	//- 					h4 Варианты исполнения порога
	//- 					br
	//- 					h6.text-primary Порог G-U Thermostep
	//- 					.h6.text-body.fw-400 Порог G-U Thermostep используется в порталах VEKA SLIDE, производимых  компанией «БИССЕКТРИСА», по умолчанию.
	//- 					br
	//- 					h6 Габаритные размеры порога:
	//- 					.h6.text-body.fw-400 
	//- 						| Высота со стороны помещения – 
	//- 						| 
	//- 						span.text-primary.fw-500 67 мм
	//- 						br
	//- 						| Высота со стороны улицы –
	//- 						| 
	//- 						span.text-primary.fw-500  46 мм
	//- 						br
	//- 						| Ширина – 
	//- 						| 
	//- 						span.text-primary.fw-500 190 мм
	//- 					br
	//- 					h6.text-primary Порог VEKA
	//- 					.h6.text-body.fw-400 Порог VEKA может быть установлен в порталах VEKA SLIDE, производимых компанией «БИССЕКТРИСА», по желанию клиента.
	//- 					br
	//- 					h6 Габаритные размеры порога:
	//- 					.h6.text-body.fw-400
							
	//- 						| Высота со стороны помещения – 
	//- 						| 
	//- 						span.text-primary.fw-500  50 мм
	//- 						br
	//- 						| Высота со стороны улицы – 
	//- 						| 
	//- 						span.text-primary.fw-500  26 мм
	//- 						br
	//- 						| Ширина – 
	//- 						| 
	//- 						span.text-primary.fw-500  170 мм

	//- 					p В&nbsp;случае установки портала в&nbsp;чистовой пол (путем штробления) видимая часть  порога со&nbsp;стороны улицы 10&nbsp;мм, со&nbsp;стороны помещения&nbsp;&mdash; 30&nbsp;мм. При установке  портала на&nbsp;черновой пол, когда чистовой пол &laquo;подводится&raquo; к&nbsp;конструкции после  установки, порог со&nbsp;стороны помещения может быть утоплен полностью. 
	//- 			.col-lg-6.order-lg-first
	//- 				.row
	//- 					- for (var x = 1; x < 3; x++)
	//- 						+e.img-wrap.col-6
	//- 							a(href=`img/@2x/content-109-3-${x}.jpg` data-fancybox="gallery1")
	//- 								+pic(`content-109-3-${x}.jpg`,"bg",'lazy','440px') 
							
	//- 					+e.img-wrap.col-12
	//- 						a(href=`img/@2x/content-109-3-3.jpg` data-fancybox="gallery1")
	//- 							+pic(`content-109-3-3.jpg`,"bg",'lazy','440px') 
						
	//- +b.s-content.section.block-with-lazy&attributes(attributes)
	//- 	.container
	//- 		+e.inner: +e.inner-wrapper
	//- 			.row.row--lg
	//- 				.col-lg-6
	//- 					.pl-88
	//- 						h4 Опции и аксессуары
	//- 						br
							
	//- 						h6.text-primary Автоматический привод HS-Master
							 
	//- 						p  Для максимально комфортного использования панорамных дверей VEKA SLIDE на  них может быть установлен автоматический привод HS-Master. Управлять приводом  можно различными способами:
	//- 						ul
	//- 							li.fw-500 при помощи кнопок
	//- 							li.fw-500 при помощи выключателя
	//- 							li.fw-500 при помощи импульса от радара движения
	//- 							li.fw-500 при помощи пульта дистанционного управления
	//- 							li.fw-500 при помощи комбинированного способа из
	//- 							li.fw-500 вышеперечисленных
	//- 						br
	//- 						p Наличие привода «HS Master» на двери не ограничивает возможность применения механического многозапорного замка с профильным цилиндром.
	//- 				.col-lg-6
	//- 					+pic('Layer_205.jpg')
	
	//- +b.s-content.section.block-with-lazy&attributes(attributes)
	//- 	.container.container--xxxl 
	//- 		.row.row--lg
	//- 			.col-lg-6
	//- 				.pr-88 
	//- 					h6.text-primary Вентиляционный клапан
	//- 					br
	//- 					p Для удобного и&nbsp;безопасного проветривания помещения на&nbsp;порталы VEKA SLIDE может быть установлен специальный вентиляционный клапан.
	//- 					p При помощи поворота ручки на&nbsp;90&nbsp;гр из&nbsp;положения вертикально вверх, клапан  прищелкивается к&nbsp;створке и&nbsp;вытягивается из&nbsp;рамы на&nbsp;расстояние 2&nbsp;см. Профиль  клапана выполнен из&nbsp;анодированного алюминия, внутрь встроено москитное  полотно, обеспечивающее защиту помещения от&nbsp;насекомых во&nbsp;время  проветривания.
	//- 					p Находясь в&nbsp;положении проветривания портал может быть закрыт путем поворота  ручки вниз, при этом обеспечивается защита от&nbsp;взлома класса WK2 (протестировано  по&nbsp;стандарту DIN V&nbsp;ENV 1627).
	//- 			.col-lg-6.text-right.order-lg-first
	//- 				+pic(`Layer_206_copy.jpg`,"",'lazy','440px')  
	
	//- +s-video("Видео о порталах")
	//- +s-vacancy
	//- +s-about
	//- +s-gal
	//- +s-logos
	//- +s-rews
	//- +s-news
	+footer()