//- svg-sprite
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)
//-/ svg-sprite



//- breadcrumb
mixin breadcrumb(...items)
	nav.breadcrumb
		-for (var i = 0; i < items.length - 1; i++)
			a.breadcrumb-item(href='#')= items[i]
		span.breadcrumb-item.active=  items[items.length - 1]
//- /breadcrumb

		
//- pugination
mixin pugin()
	//- nav(aria-label='...')
	//- 	ul.pagination.justify-content-center
	//- 		li.page-item.disabled
	//- 			a.page-link(href='#', tabindex='-1') 
	//- 				i(class="fas fa-chevron-left")
	//- 		li.page-item.disabled
	//- 			a.page-link.d-none.d-md-block(href='#', tabindex='-1') Назад

	//- 		li.page-item
	//- 			a.page-link(href='#') 1
	//- 		li.page-item.active
	//- 			a.page-link(href='#')
	//- 				| 2 
	//- 				span.sr-only (current)
	//- 		li.page-item
	//- 			a.page-link.page-link-more(href='#') ...
	//- 		li.page-item
	//- 			a.page-link(href='#') 3

	//- 		li.page-item
	//- 			a.page-link.d-none.d-md-block(href='#') Дальше
	//- 		li.page-item
	//- 			a.page-link(href='#') 
	//- 				i(class="fas fa-chevron-right")
	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if block
						block
					else
						a.page-numbers(href='#')= n 
			+li()
				span.prev.page-numbers( )
					img(src="img/svg/prev.svg", alt="")
			+li()
				span.prev.page-numbers( )
					img(src="img/svg/prev-double.svg", alt="")
			+li()
				span.page-numbers.current  1
			+li("1")
			+li("2")
			+li("3")
			+li("4") 
			+li()
				a.next.page-numbers(href='#')
					img(src="img/svg/next.svg", alt="")
			+li()
				a.next.page-numbers(href='#')
					img(src="img/svg/next-double.svg", alt="")
//- +pugin()
//- /pugination
//- h2.yel(class="  wow fadeInUp animated " data-wow-offset="120" data-wow-duration="1.2s")  
//- arrow for swiper-slider
mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider
		
 

//- scial buttons
mixin soc(t)
	+b.soc
		mixin item()
			+e.A.item(href="#" target="_blank")&attributes(attributes)
				block
		+item()(class=(t=="t" ? 'd-none d-sm-block' : ''))
			+icon('vk')
		
		+item()(class=(t=="t" ? 'd-none d-sm-block' : ''))
			+icon('fb')
		
		+item()
			+icon('inst')
		
		+item()(class=(t=="t" ? 'd-none d-sm-block' : ''))
			+icon('whatsapp')
		
//- /scial buttons
//- WP menu
//- mixin mnu()
//- 	- var nav= { "Наши работы":"#","Цены":"#","Калькулятор":"#","Акции":"#" ,"Заказать":"#"}
//- 	ul.menu
//- 		li.menu-item.menu-item-has-children
//- 			a(href="#") О нас
//- 			ul.sub-menu
//- 				li.menu-item: a(href="#") Строительство загородных домов
//- 				li.menu-item: a(href="#") Отделка загородных домов
//- 				li.menu-item: a(href="#") Покраска деревянных домов
//- 				li.menu-item: a(href="#") Штукатурные фасады загородных домов
//- 		each linkPatch, linkName in nav
//- 			li.menu-item: a(href="#")= linkName

//- menu
mixin mnu()
	- var nav= {"Продукция ":"#","Услуги  ":"#","Подбор септика   ":"#","Акции ":"#"," О компании  ":"#"," Доставка и оплата ":"#"," Клиентам  ":"#"," Наши работы   ":"#","Контакты ":"#"}
	+b.main-nav
		.row
			mixin col()
				.col-xl-auto.col-sm-6
					block
			+col
				
				+e.item
					+e.A.link--main(href="#") О КОМПАНИИ
					+e.sub
						+e.item: +e.A.link--sub(href="#") История
						+e.item: +e.A.link--sub(href="#") Достижения
						+e.item: +e.A.link--sub(href="#") Наша команда
						+e.item: +e.A.link--sub(href="#") Производство
						+e.item: +e.A.link--sub(href="#") Вакансии
				
				+e.item: +e.A.link--main(href="#") ШОУ-РУМ 
			+col
				+e.item: +e.A.link--main(href="#") НАШИ РАБОТЫ
				+e.item: +e.A.link--main(href="#") НАШИ ПАРТНЕРЫ
				+e.item: +e.A.link--main(href="#") ОТЗЫВЫ
				+e.item: +e.A.link--main(href="#") НОВОСТИ
				+e.item: +e.A.link--main(href="#") КОНТАКТЫ
			
			
			+col
				+e.item
					+e.A.link--main(href="#") ПРОДУКЦИЯ

					+e.sub
						+e.item: +e.A.link--sub(href="#")  Окна и двери
						+e.item: +e.A.link--sub(href="#")  Раздвижные порталы
						+e.item: +e.A.link--sub(href="#")  Складные порталы
						+e.item: +e.A.link--sub(href="#")  Витражи
						+e.item: +e.A.link--sub(href="#")  Зимние сады
						+e.item: +e.A.link--sub(href="#")  Безрамное остекление
						+e.item: +e.A.link--sub(href="#")  Подъемные
						+e.item: +e.A.link--sub(href="#")  панорамные окна
						+e.item: +e.A.link--sub(href="#")  Эксклюзив
						+e.item: +e.A.link--sub(href="#")  Автоматика
			+col
				+e.item
					+e.A.link--main(href="#") УСЛУГИ
					+e.sub
						+e.item: +e.A.link--sub(href="#")  Замер
						+e.item: +e.A.link--sub(href="#")   Проектирование
						+e.item: +e.A.link--sub(href="#")   Монтаж
						+e.item: +e.A.link--sub(href="#")   Гарантия 
				+e.item
					+e.A.link--main(href="#") ДЕКОР
					+e.sub
						+e.item: +e.A.link--sub(href="#") Покраска
						+e.item: +e.A.link--sub(href="#") Текстура дерева
						+e.item: +e.A.link--sub(href="#") Ручки оконные
						+e.item: +e.A.link--sub(href="#") Ручки дверные
		
//- /menu




mixin pic( i, bg, lazy="lazy", media='576px')
	- const smpath2 = "2x"
	- const smpath1 = "1x"
	- let expArr = i.split(".")
	- let exp = (expArr[1] || 'jpg')
	mixin src(i, exp, path , lazy, source, bg)
		
		-const url= `img/@${path}/${expArr[0]}.${exp}`
		-const ifLazy = (lazy== "lazy")
		-const src = ( ifLazy ? "#" : url)
		-const data = (ifLazy ?  url  : null)

		if source
			source( srcset=src data-srcset= data  type=`image/${exp}`   )&attributes(attributes)
		else
			img(src=src data-src=data, class=(bg=="bg" ? "object-fit-js": null ) alt="")&attributes(attributes)
	
	// picture
	picture( class= lazy)&attributes(attributes) 
		if media !== 0 
			each val in ["webp",exp] 
				each val2 in [smpath2,smpath1] 
					+src(i,val,`${val2 + (val ==  "webp" ? "/webp" : "") }`,lazy,"source")(media=(val2 == smpath2 ? "(min-width:"+ media+")" : null))
		else 
			+src(i,'webp',smpath2+`/webp`,lazy,"source")
			// /webp images  
		+src(i, exp,smpath2, lazy,"",bg) 
	// /picture
		 
//- /picture with lazy
	example
	or
	+piclazy('consult','png')
//- +pic('','head-img-4',"")


 
		 
//- /picture
	example
	+piclazy('consult','png','bg')
	or
	+piclazy('consult','png')

